/* Section */	
article {
	.logo + section:first-of-type {
		padding-top: 6rem;
		
		.cell:first-of-type {
			.image, .video-container {
				border-radius: _size(border-radius-top);
				margin-top: -6rem;
			}
		}
	}
	
	section {
		padding: _size(element-margin) _size(element-margin) 0 _size(element-margin);
		width: 100%;
		
		@media print {
			padding: _size(element-margin) 0;
		}
		
		@include breakpoint(small) {
			padding: math.div(_size(element-margin), 1.5);
		}

		@include breakpoint(xsmall) {
			padding: math.div(_size(element-margin), 2);
		}
		
		img {
			max-width: 100%;
		}
		
		.cell {
			position: relative;			
			margin-bottom: _size(element-margin);
			
			@include breakpoint(small) {
			}

			@include breakpoint(xsmall) {
			}
			
			h2 {
				text-align: center;
			}
		
			p:last-child, blockquote p:last-child, ul:last-child, ol:last-child, .major:last-child {
				margin: 0;
			}
			
			.video-container {
				position: relative;
				margin: 0 _size(element-margin)*-1;
				height: 0; 
				padding-bottom: 64.25%; /*16:9*/
				overflow: hidden;
				
				iframe {
					position: absolute;
					height: 100%;
				}
				
				@include breakpoint(small) {
					margin: 0 math.div(_size(element-margin), 1.5)*-1;
					padding-bottom: 64.25%; /*16:9*/
				}
				
				@include breakpoint(xsmall) {
					margin: 0 math.div(_size(element-margin), 2)*-1;
					padding-bottom: 63.25%; /*16:9*/
				}
			}
		}
		
		&:first-of-type {
			border-radius: _size(border-radius-top);
			overflow: hidden;
			padding-top: 3rem;
			
			.cell:first-of-type {				
				.image, .video-container {
					display: block;
					border-radius: _size(border-radius-top);
					margin-top: -3rem;
					margin-bottom: 1rem;
				}
			}
		}
	
		&:last-of-type {
			border-radius: _size(border-radius-bottom);
			overflow: hidden;
			padding-bottom: 1rem;
			
			.cell:last-of-type {
				padding-bottom: 0;
				
				.image:not(.cell > .box .image), .video-container {
					border-radius: _size(border-radius-bottom);
					margin-bottom: -3rem;
				}
			}
		}
	}		
}