/* Section */	
article {
	.logo + section:first-of-type {
		padding-top: 6rem;
		
		>.col:first-of-type > .image:first-of-type {
			border-radius: _size(border-radius-top);
			margin-top: -6rem;
		}
	}
	
	section {
		padding: _size(element-margin);
		width: 100%;

		@include breakpoint(small) {
			padding: 0 2rem;	
		}

		@include breakpoint(xsmall) {
			padding: 0 1.5rem;
		}
		
		img {
			max-width: 100%;
		}
		
		&.background-darken {
			hr, h1.major, h2.major, h3.major, h4.major, h5.major, h6.major, h7.major {
				border-bottom: 1px solid _palette(on-dark);
			}
			
			p, strong, h1, h2, h3, h4, h5, h6, h7 {
				color: _palette(on-dark);
			}
			
			&:before {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%; 
				content: " ";
				position: absolute;
				background: rgba(0,0,0,0.4);
			}
		}
		
		&.background-lighten {
			hr, h1.major, h2.major, h3.major, h4.major, h5.major, h6.major, h7.major {
				border-bottom: 1px solid _palette(on-light);
			}
			
			p, strong, h1, h2, h3, h4, h5, h6, h7 {
				color: _palette(on-light);
			}
			
			&:before {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%; 
				content: " ";
				position: absolute;
				background: rgba(255,255,255,0.6);
			}
		}
		
		&.text-light {
			padding-top: _size(element-margin);
			background-color: _palette(bg-dark);
			
			p, strong, h1, h2, h3, h4, h5, h6, h7 {
				color: _palette(on-dark);
			}
		}
		
		&.text-light.background-darken {
			background-color: transparent;
		}
		
		&.text-dark {
			padding-top: _size(element-margin);
			background-color: _palette(bg-light);
			
			p, strong, h1, h2, h3, h4, h5, h6, h7 {
				color: _palette(on-light);
			}
		}
		
		&.text-dark.background-lighten {
			background-color: transparent;
		}
		
		.col {
			float: left;
			position: relative;
			width: 100%;
			
			margin-bottom: _size(element-margin);
			
			@include breakpoint(small) {
			}

			@include breakpoint(xsmall) {
			}
			
			h2 {
				text-align: center;
			}
		
			p:last-child, blockquote p:last-child, ul:last-child, ol:last-child, .major:last-child {
				margin: 0;
			}
			
			.video-container {
				position: relative;
				margin: 0 -2.5rem;
				height: 0; 
				padding-bottom: 64.25%; /*16:9*/
				overflow: hidden;
				
				iframe {
					position: absolute;
					height: 100%;
				}
				
				@include breakpoint(small) {
					margin: 0 -2.5rem;
					padding-bottom: 64.25%; /*16:9*/
				}
				
				@include breakpoint(xsmall) {
					margin: 0 -1.5rem;
					padding-bottom: 63.25%; /*16:9*/
				}
			}
			
			&:last-of-type {
				margin: 0;
			}
		}
		
		&:first-of-type {
			border-radius: _size(border-radius-top);
			overflow: hidden;
			padding-top: 4rem;
			
			>.col:first-of-type > .image:first-of-type {
				border-radius: _size(border-radius-top);
				margin-top: -4rem;
			}
			
			@include breakpoint(small) {
			}
		
			@include breakpoint(xsmall) {
			}
		}
	
		&:last-of-type {
			border-radius: _size(border-radius-bottom);
			overflow: hidden;
			padding-bottom: 4rem;
			
			> .col:last-of-type {
				padding-bottom: 0;
			}
			
			> .col:last-of-type > .image:last-of-type, > .col:last-of-type > .video-container:last-of-type {
				border-radius: _size(border-radius-bottom);
				margin-bottom: -4rem;
			}
			
			@include breakpoint(small) {
			}
		
			@include breakpoint(xsmall) {
			}
		}
	}		
}